.inputs {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    flex-wrap: wrap;
}

#inp-geocode {
    width: 50%;
    min-width: 240px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid;
    transition: border-color .15s ease-in-out;
    margin-bottom: 5px;
}

#inp-age {
    width: 15%;
    min-width: 100px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid;
    transition: border-color .15s ease-in-out;
    margin-left: 10px;
}

#inp-geocode:invalid {
    border-color: red;
}

#inp-btn {
    margin-left: 10px;
    padding: .375rem .75rem;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-style: none;
}

#inp-btn:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}